{% extends "base.html" %}
{% block content %}

<h2>O portalu Candela:</h2>

<p>Cele portalu Candela:
	<ul>
	<li>Poprawienie przepływu informacji między studentami Fizyki Technicznej oraz Fotoniki.</li>
	<li>Stworzenie przestrzeni do wspólnej dyskusji i pracy dla całego Wydziału.</li>
	<li>Dostarczenie zestawu narzędzi usprawniającego warsztat studenta.</li>
	<li>Wprowadzenie części studentów w świat oprogramowania open-source</li>
	</ul>
</p>

<p>Candela jest projektem typu Open Source, wykonanym przy użyciu technologii:
	<ul>
		<li>Flask Microframework (Python)</li>
		<li>PostgreSQL i SQLite</li>
		<li>Twitter Bootstrap</li>
	</ul> 
</p>

<p>Jeżeli masz fajny pomysł na ulepszenie portalu i chcesz się nauczyć albo już znasz pythona/js/css, zapraszam do dołączenia do projektu!<br>
Potrzebne jest jedynie konto na GitHub'ie i dobre chęci :)</p>

<p>Publiczne repozytorium portalu Candela: <a href="https://github.com/parkag/Candela">https://github.com/parkag/Candela</a>
</p>

{% endblock %}
